.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    height: 30px;
    z-index: 1;

}
.nav__black{
    background-color: black;

}
.nav__logo{
    position:fixed;
    left: 20;
    width: 90px;
    object-fit: contain;
}